.parent {
  display: flex; /* displays flex-items (children) inline */
}

.child {
  flex-grow: 1; /* each flex-item grows and takes 1/3 of the parent's width */
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 568px) {
  .parent {flex-direction: column} /* stacks them vertically */
}
